.card-episode {
  border-bottom: 1px solid #47126b;
  box-shadow: 0 1px 3px #47126b, 0 1px 2px #47126b;
  box-sizing: border-box;
  margin: 0 15%;
  white-space: nowrap;
  overflow: hidden;
}
.card-episo {
  color: #47126b;
  font-size: 1.6rem;
  text-align: center;
}
  h2{
  text-align: center;
  color: #47126b;
  font-size: 3rem;
}



